<div class="header sticky-top bg-light shadow-sm py-2 px-3 d-flex justify-content-between">
    <a routerLink="/" class="text-primary"> <i class="bi bi-house-door"></i></a>

    <span>INFORMACIÓN</span>

    <a [routerLink]="['/historial', this.indicadorId]">
        <i class="bi bi-clock-history text-primary p-2"></i>
    </a>
</div>

<div class="container px-2">
    <div class="text-center d-flex flex-column justify-content-center">
        <h2 class="pt-2">
            {{ this.indicadorConfig.nombre | uppercase }}
            <br />
            <small>({{ this.indicadorConfig.nombreCorto | uppercase }})</small>
        </h2>

        <span class="display-2">
            <app-valor-indicador
                [udmIndicador]="this.indicadorConfig.unidadDeMedida"
                [valorIndicador]="this.primerDato.valor"
            ></app-valor-indicador>
        </span>

        <div class="px-2 form-grid">
            <span>Nombre</span>
            <input disabled type="text" [value]="this.indicadorConfig.nombre" />

            <span>Fecha</span>
            <input disabled type="text" [value]="this.primerDato.fecha | date: 'yyyy-MM-dd'" />

            <span>Unidad de Medida</span>
            <input disabled type="text" [value]="this.indicadorConfig.unidadDeMedida | titlecase" />
        </div>

        <br />

        <app-grafico-indicador
            [inputData]="this.dataGrafico"
            [label]="this.indicadorConfig.nombreCorto"
        ></app-grafico-indicador>
    </div>
</div>
