<div class="sticky-top bg-light shadow-sm py-2 px-3 d-flex justify-content-between">
    <a routerLink="/">
        <i class="bi bi-caret-left text-primary"></i>
    </a>

    <div class="text-center">
        {{ this.indicadorConfig.nombre }} ({{ this.indicadorConfig.nombreCorto | uppercase }})
        <br />
        <small>Histórico</small>
    </div>

    <a [routerLink]="['/info', this.indicadorId]">
        <i class="bi bi-info-circle text-primary p-2"></i>
    </a>
</div>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let diaHistorico of this.dataHistorica">
        <div class="mx-auto d-flex justify-content-between px-4" style="max-width: 500px">
            <span>
                {{ diaHistorico.fecha | date: 'yyyy-MM-dd' }}
            </span>

            <app-valor-indicador
                [udmIndicador]="this.indicadorConfig.unidadDeMedida"
                [valorIndicador]="diaHistorico.valor"
            ></app-valor-indicador>
        </div>
    </li>
</ul>
