html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

$font-size-root: 22px;
$list-group-border-radius: 0;
// $font-size-base

@import '~bootstrap/scss/bootstrap';
@import '/node_modules/bootstrap-icons/font/bootstrap-icons.scss';

/* GLOBAL CUSTOM STYLES */
a {
    text-decoration: none;
}

i {
    font-size: 1rem;
}
